.App {
	width: 80%;
	margin: auto;
	border: 2px solid skyblue;
	padding: 1rem;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

button {
	margin: 0.4rem 1.5rem;
	background-color: skyblue;
	border: none;
	padding: 0.3rem 0.7rem;
	font-weight: 600;
	cursor: pointer;
	border-radius: 3px;
}
